TestWebService/src/META-INF/wsdl/localhost_8080/dbsWebService/ClientWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ClientWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/dbsWebService/ClientWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="getUpdated">
<part name="parameters" element="tns:getUpdated"/>
</message>
<message name="getUpdatedResponse">
<part name="parameters" element="tns:getUpdatedResponse"/>
</message>
<message name="isUpToDate">
<part name="parameters" element="tns:isUpToDate"/>
</message>
<message name="isUpToDateResponse">
<part name="parameters" element="tns:isUpToDateResponse"/>
</message>
<message name="getEverything">
<part name="parameters" element="tns:getEverything"/>
</message>
<message name="getEverythingResponse">
<part name="parameters" element="tns:getEverythingResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ClientWebService">
<operation name="test">
<input wsam:Action="http://WebServices/ClientWebService/testRequest" message="tns:test"/>
<output wsam:Action="http://WebServices/ClientWebService/testResponse" message="tns:testResponse"/>
</operation>
<operation name="getUpdated">
<input wsam:Action="http://WebServices/ClientWebService/getUpdatedRequest" message="tns:getUpdated"/>
<output wsam:Action="http://WebServices/ClientWebService/getUpdatedResponse" message="tns:getUpdatedResponse"/>
</operation>
<operation name="isUpToDate">
<input wsam:Action="http://WebServices/ClientWebService/isUpToDateRequest" message="tns:isUpToDate"/>
<output wsam:Action="http://WebServices/ClientWebService/isUpToDateResponse" message="tns:isUpToDateResponse"/>
</operation>
<operation name="getEverything">
<input wsam:Action="http://WebServices/ClientWebService/getEverythingRequest" message="tns:getEverything"/>
<output wsam:Action="http://WebServices/ClientWebService/getEverythingResponse" message="tns:getEverythingResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WebServices/ClientWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebServices/ClientWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ClientWebServicePortBinding" type="tns:ClientWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUpdated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isUpToDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEverything">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClientWebService">
<port name="ClientWebServicePort" binding="tns:ClientWebServicePortBinding">
<soap:address location="http://localhost:8080/dbsWebService/ClientWebService"/>
</port>
</service>
</definitions>