TestWebService/xml-resources/web-service-references/ClientWebService/wsdl/localhost_8080/dbsWebService/ClientWebService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/dbsWebService/ClientWebService?xsd=1"/>

<xs:element name="getEverything" type="tns:getEverything"/>

<xs:element name="getEverythingResponse" type="tns:getEverythingResponse"/>

<xs:element name="getUpdated" type="tns:getUpdated"/>

<xs:element name="getUpdatedResponse" type="tns:getUpdatedResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="isUpToDate" type="tns:isUpToDate"/>

<xs:element name="isUpToDateResponse" type="tns:isUpToDateResponse"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:complexType name="hello">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEverything">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEverythingResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUpdated">
<xs:sequence>
<xs:element name="updateNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUpdatedResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isUpToDate">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isUpToDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>